<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Onesie Life</title>
    <link rel="stylesheet" href="https://unpkg.com/milligram@1.3.0/dist/milligram.min.css"/>
  </head>
  <body>
    <include(input.body)/>
  </body>
  <include(input.scripts)/>
</html>
