html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #9b4dca;
  background-image: url('/images/background-pattern.svg');
  display: flex;
  justify-content: center;
}

#container {
  width: 1000px;
  background: white;
  box-shadow: 5px 5px 5px rgba(33, 33, 33, 0.2);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Architects Daughter', cursive;
}

.post-form {
  box-shadow: 0px 2px 8px rgba(200, 200, 200, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.timeline-entry:first-of-type {
  border-top: 1px solid #eee;
}

.timeline-entry {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid #eee;
  min-height: 113px;
}

.timeline-entry--content img {
  max-height: 300px;
  max-width: 700px;
  display: block;
}

.timeline-entry--author {
  text-align: center;
  padding-right: 20px;
}

.timeline-entry--image {
  border-radius: 100%;
}

.user-name,
.timeline-entry--author {
  font-family: 'Architects Daughter', cursive;
  font-size: 120%;
}

footer {
  text-align: center;
  font-size: 0.7em;
  font-family: 'Architects Daughter', cursive;
}

footer p {
  margin: 0;
}
